.splash-wrap { position: relative; height: 100vh; overflow: hidden; }
.splash-img { height: 100vh; object-fit: cover; }

.splash-bottom{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  z-index: 10; /* IMPORTANT: above carousel */
  background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
}
